h1 {
  color: #000000;
  color: #008000;
  color: #666666;
  color: #69c4d9;
  color: #0b85ec;
  color: #0d8dc0;
  color: #e0e0e0;
  color: #eaeaea;
  color: #f0f0f0;
  color: #f9f9f9;
  color: #19adff;
  color: #1e73be;
  color: #1e87f0;
  color: #2097f5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans", Arial, sans-serif;
}
.car-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -100;
}
.car-img {
  width: 100%;
  display: block;
  height: 100%;
}
.car-item-custom {
  display: flex;
  width: 100%;
}
.shade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2097f5;
  z-index: -99;
  opacity: 0.5;
  top: 0;
  left: 0;
}
.sabe-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.sabe-logo--img {
  width: 40%;
}
.btn-wrapper {
  display: flex;

  width: 60%;
  /* height: 100px; */
  justify-content: space-evenly;
  color: white;
}
.btn-left {
  width: 30%;
  border-top: solid white 2px;
  border-left: solid white 2px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 1rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.btn-right {
  width: 30%;
  border-top: solid white 2px;
  border-right: solid white 2px;
  /* opacity: 0.5; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 5rem 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  /* background-color: black; */
}
#pagefooter {
  font-size: 1.4rem;
}
.link-btn {
  width: 60%;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}

.icon-arrow {
  font-size: 48px;
}
/* .car-item-1 {
  background-image: url(imgs/cdc-GDokEYnOfnE-unsplash.jpg);
}
.car-item-2 {
  background-image: url(imgs/kenny-eliason-zFSo6bnZJTw-unsplash.jpg);
}
.car-item-3 {
  background-image: url(imgs/shubham-sharan-Z-fq3wBVfMU-unsplash.jpg);
}
.car-item-custom {
  background-size: cover;
  /* background-repeat: no-repeat; */
/* background-position: center;
} */

/* ///////////////////////////////////////// */
/* Btn  */
/* ///////////////////////// */
.btn-text {
  text-align: center;
}
.btn-redirect {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  /* position: absolute; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  color: #008000;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.5em 2em;
  border: 2px solid #008000;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #008000;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1),
    left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
a::after {
  content: "";
  display: inline-block;
  background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
a:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
a:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1),
    left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
a:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
